.footer {
  display: flex;
  background-color: #95969c;
  height: 200px;
  width: 100%;
  justify-content: space-evenly;
}

.footer-top {
  display: block;
  height: 20%;
  width: 100%;
  background-color: beige;
}

.footer-left {
  width:25%;
  background-color: aqua;
}

.footer-center {
  width:25%;
  background-color: aqua;
}

.footer-right {
  width:25%;
  background-color: aqua;
}