* {
  box-sizing: border-box;
}

.top-page-header {
  background-color: #95969c;
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
}

.left-space-head {

}

.right-space-head {
  margin: 0 0 0 auto;
  padding-top: 15px;
}

.apri-title {
  width: 185px;
  height: 50%;
  display: flex;
}

.apri-title>h1 {
  font-size: x-large;
  color: rgb(43, 43, 43);
  font-weight: 900;
}

.up-times-icon {
  transform:rotate(180deg); 
  margin-top: 4px;
}

.down-times-icon {
  margin-top: 4px;
}



.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}


.search-form {
  border-radius: 30px;
  height: 50%;
  width: 90%;
  background-color: #a1a1a5;
  color: aqua;
  padding-top: 10px;
  margin-top: 20px;
}

.search-form>h1 {
  color:rgb(64, 66, 65);
  font-size: large;
  margin-left: 30px;
}

.search-bottom {
  width: 70%;
  background-color: #636666;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 13%;
  padding-left: 10%;
}

.search-input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  padding-left: 40px;
  background-color: rgb(241, 241, 241);

}

.search-icon {
  color: aqua;
}

.life-search-form {
  display: flex;
}

.search-btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
