a {
  text-decoration: none;
}


.life-contents {
  width: 75%;
  height:1000px;
  background-color: #dadbdb;
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
  
}

.life-contents>.title {
  font-size: medium;
  line-height: 1.4;
  font-weight: bold;
}




.life-lists {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #dadbdb;
}



.life-img-content {
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
  height: 200px;
  width: 250px;
  background-color: rgb(127, 208, 255);
  border-radius: 30px;
}

.life-title-content {
  text-align: center;
  color: #727271;
  font-size: x-large;
  margin-top: 20px;
}






.follow-box {
  height: 70px;
  width: 200px;
  margin: 0 5% 0 auto;
  margin-bottom: 30px;
  border: gray solid 2px;
  display: flex;
  padding-left: 10px;
  border-radius: 3%;
}

.follow-btn {
  border: none;
  height: 60px;
  width: 60px;
  background-color: #dadbdb;
  border-radius: 100%;
}



.unfollow-btn {
  border: none;
  height: 80px;
  width: 80px;
}

.follow-icon {
  margin-top: 5px;
  width: 90%;
  height: 90%;
  
}

.follow-sentence {
  font-size: x-large;
  color: #494b4b;
  margin-top: 15px;

}


.lanking {
  font-size: x-large;
  font-weight: bold;
  color: #727271;
  margin-top: 30px;
}

.lanking-box {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}


.follow-member-icon {
  background-color: rgb(197, 199, 199);
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.user-show-box {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.follow-a {
  height: 40px;
  width: 100px;
  background-color: aquamarine;
}

.hidden{
  display: none;
}

.follow-member-icon-2 {
  background-color: rgb(197, 199, 199);
  height: 60px;
  width: 60px;
  border-radius: 10px;
}





.test-box {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-left: 30px;
  position: relative;
  border-radius: 100%;
}

.test-box-2 {
  width: 130px;
  height: 130px;
  background-color: greenyellow;
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 100%;
}