a {
  text-decoration: none;
}


.life-contents {
  width: 75%;
  height:1000px;
  background-color: #dadbdb;
  display: flex;
  flex-direction: column;
  padding: 10vh 0;
  
}

.life-contents>.title {
  font-size: medium;
  line-height: 1.4;
  font-weight: bold;
}




.life-lists {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #dadbdb;
}



.life-img-content {
  margin-left: 10px;
  margin-top: 20px;
  position: relative;
  height: 200px;
  width: 250px;
  background-color: rgb(127, 208, 255);
  border-radius: 30px;
}

.life-title-content {
  text-align: center;
  color: #727271;
  font-size: x-large;
  margin-top: 20px;
}






.follow-box {
  height: 70px;
  width: 200px;
  margin: 0 5% 0 auto;
  margin-bottom: 30px;
  border: gray solid 1px;
  display: flex;
  padding-left: 10px;
}

.follow-btn {
  border: none;
  height: 60px;
  width: 60px;
  background-color: #dadbdb;
  border-radius: 100%;
}



.unfollow-btn {
  border: none;
  height: 80px;
  width: 80px;
}

.follow-icon {
  margin-top: 5px;
  width: 90%;
  height: 90%;
  
}

.follow-sentence {
  font-size: x-large;
  color: #494b4b;
  margin-top: 15px;

}



