.purchase-btn {
  width: 120px;
  background: #e7f6f7;
  text-align: center;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border-radius: 20px;
  border: solid 3px rgb(75, 75, 75);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  
}

.purchase-btn-icon {
  width: 80%;
  height: 80%;
}

