<div class='footer'>
  <div class="footer-top">
    Life Count
  </div>
  <div class="footer-bottom">
    <%= link_to help_path, class: "footer-box" do %>
      <span>よくある質問</span>
    <% end %>
    <%= link_to about_path, class: "footer-box" do %>
      <span>Life Countについて</span>
    <% end %>
    <%= link_to caution_path, class: "footer-box" do %>
      <span>注意事項</span>
    <% end %>
  </div>
</div>

