<%= render "shared/header"%>
<div class="help">
  <div class="help-box">
    <%= image_tag 'help.png' , size: '185x185' %>
    Life Countの使い方
  </div>
  <div class="help-box">
    <%= image_tag 'caution.png' , size: '185x185' %>
    約束事項
  </div>
</div>