<%= render "shared/header"%>
<div class="main-page-box">  
  <%= render "shared/leftbox" %>
  <div class='item-contents'>
    <h2 class='title'>新しく投稿された悩み</h2>
    <%= render "shared/show_life"%>
  </div>
</div>
<%= render "shared/putsicon"%>
